* {
    box-sizing:border-box;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}

/* .font-text {
    font-family:  ;
} */

:root {
    --color-first: #991111;
}
:root {
    --color-second: #d81616;
}

.color-first {
    color: var(--color-first);
}

.color-second {
    color: var(--color-second);
}

.color-yellow {
    color: #FFD289;
}

.color-first-bg {
    background-color: var(--color-first);
}

.color-second-bg {
    background-color: var(--color-second);
}

.remove-underline {
    text-decoration:none;
    color: black;
}

.remove-underline1 {
    text-decoration:none;
}

.remove-underline:hover {
    text-decoration:underline;
}

.p1 {
    margin: 0;
}

#top-sale .owl-carousel .item .product a {
    overflow: hidden;
}

#top-sale .owl-carousel .item .product img, .enlarge {
    padding: 5px;
    margin-bottom: 10px;
    transition: transform .5s ease;
}

#top-sale .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}

.enlarge:hover {
    transform: scale(1.05);
}

#top-sale .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}

#top-sale .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span {
    font-size: 35px;
    color: #d81616;
    margin-left: -4rem;
    padding: 0 1rem;
}

#top-sale .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #d81616;
    margin-right: -4rem;
    padding: 0 1rem;
}

#products .grid .grid-item {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.text-of {
    display: -webkit-box;
    max-width: 288px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#footer ul {
    list-style: none;
}